@using HieuThuoc.Models;
@{

	Customer acc = (Customer)Session["usr"];
	string username = "";
	if (Request.Cookies["usr"] != null)
	{
		username = Request.Cookies["usr"].Value;

	}

}
@*@{

		string username = "";
		//string Sigout = "";

		if (Session["usr"] != null)
		{
			username = Session["usr"].ToString();
			//Sigout = Session["SignOut"].ToString();
		}

	}*@

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NHÀ THUỐC CPP</title>

	<!-- Icon css link -->
	<link href="~/Content/font-awesome.min.css" rel="stylesheet">
	<link href="~/vendors/linearicons/style.css" rel="stylesheet">
	<link href="~/vendors/flat-icon/flaticon.css" rel="stylesheet">
	<link href="~/vendors/stroke-icon/style.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">

	<!-- Rev slider css -->
	<link href="~/vendors/revolution/css/settings.css" rel="stylesheet">
	<link href="~/vendors/revolution/css/layers.css" rel="stylesheet">
	<link href="~/vendors/revolution/css/navigation.css" rel="stylesheet">
	<link href="~/vendors/animate-css/animate.css" rel="stylesheet">


	<!-- Extra plugin css -->
	<link href="~/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
	<link href="~/vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">
	<link href="~/vendors/nice-select/css/nice-select.css" rel="stylesheet">
	<link href="~/vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">

	<link href="~/Content/style.css" rel="stylesheet" />

	<link href="~/Content/responsive.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script>$.removeCookie('the_cookie', { path: '/' });</script>
    <style>
        .dropdown-menu {
            background-color: #f8f9fa;
            color: #333;
            padding: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 999;
        }

            .dropdown-menu li {
                padding: 8px 15px;
            }

                .dropdown-menu li:hover {
                    background-color: #e9ecef;
                }


    </style>
</head>
<body>

    <!--================Main Header Area =================-->
    <header class="main_header_three">
        <div class="top_logo_header">
            <div class="container">
                <div class="header_logo_inner">
                    <div class="h_left_text">
                        <div class="media">
                            <div class="d-flex">

                            </div>
                        </div>
                    </div>
                    @*<div class="h_middle_text">*@
                    <div class="text-middle">
                        <!--<a href="index.html"><img src="img/logo-3.png" alt=""></a>-->
                        <p style="font-size:40px"><span style="color:brown">NHÀ</span>THUỐC<span style="font-size:24px">CPP</span></p>

                    </div>
                    <div class="h_right_text">

                        @*@if (Session["usr"] == null)
                            {
                                @Html.Action("Sessionlogin", "AuraStore")
                            }
                            else
                            {
                                <a href="@Url.Action("SignOut","AuraStore")">SignOut &emsp;<i></i></a>
                                <a style="font-size:15px; color:darkorange" href="@Url.Action("ListOrderClient","AuraStore")">@acc.Name &emsp;</a>
                            }*@



                        @if (Session["usr"] == null)
                        {
                            <div class="btn-group ps-dropdown">
                                <a href="@Url.Action("Login","Login")" class="ps-btn ps-btn-login" aria-haspopup="true" aria-expanded="false"> Đăng Nhập<i></i></a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <div class="btn-group ps-dropdown">
                                <a href="@Url.Action("Register","Login")" class="ps-btn ps-btn-register" aria-haspopup="true" aria-expanded="false">Đăng Ký<i></i></a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                        }
                        else
                        {
                            <li style="list-style: none;" class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>@acc.Name</span>
                                    <img width="50" height="50" style="border-radius: 50%" src="@Url.Content("~/img/Item/avatar-default-icon.png")">
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Profile","AuraStore")">Hồ Sơ</a></li>
                                    <li><a href="@Url.Action("ListOrderClient","AuraStore")">Đơn Hàng</a></li>
                                    <li><a href="@Url.Action("Changepassword","Login")">Đổi mật khẩu</a></li>
                                    @*<li><a href="@Url.Action("Newinformation","Cart")">New</a></li>*@
                                    <li><a href="@Url.Action("SignOut","AuraStore")">Đăng xuất</a></li>
                                </ul>
                            </li>


                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="middle_menu_three">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="index.html"><img src="img/logo-2.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="my_toggle_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>




                    @Html.Action("Menu", "AuraStore")



                </nav>
            </div>
        </div>
    </header>
    <!--================End Main Header Area =================-->
    <!--================Slider Area =================-->
    <section class="main_slider_area">
        <div id="main_slider" class="rev_slider" data-version="5.3.1.6">

            <ul>
                @Html.Action("Banner", "AuraStore")
            </ul>
        </div>
    </section>
    <!--================End Slider Area =================-->
    <!--================Welcome Area =================-->
    @RenderBody()

    <!--================End Welcome Area =================-->
    <!--================Service We offer Area =================-->
    <!--================End Discover Menu Area =================-->
    <!--================End Client Says Area =================-->
    <!--================End Client Says Area =================-->
    <!--================New Arivals Area =================-->
    <!--================End Latest News Area =================-->
    <!--================Newsletter Area =================-->
    <!--================End Newsletter Area =================-->
    <!--================Footer Area =================-->
    @*<footer class="footer_area">
        <div class="footer_widgets">
            <div class="container">
                <div class="row footer_wd_inner">
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_about_widget">
                            <p>Hiệu thuốc Online</p>
                            <ul class="nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_contact_widget">
                            <div class="f_title">
                                <h3>Liên hệ</h3>
                            </div>
                            <h4>Phone: +097 5997 983</h4>
                            <h5>Địa chỉ: Đồng Tháp</h5>
                            <h5>hieuthuoconline@gmail.com</h5>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

    </footer>*@

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">CPP</span>Pharmacy</h1>
                </a>
                <p>CPP Pharmacy - Nơi bạn tìm thấy sự chăm sóc tận tâm, kiến thức y tế và giải pháp cho sức khỏe của mọi người.</p>
                <p class="mb-2"><i class="fa fa-map-marker text-primary mr-3"></i>450 Lê Văn Việt, P.Tăng Nhơn Phú A, TP.Thủ Đức, TP.Hồ Chí Minh</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>nhathuoccpp2506@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone text-primary mr-3"></i>+84 38 3782 024</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Liên Hệ</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="https://www.facebook.com/yenluuIT01"><i class="fa fa-angle-right mr-2" ></i>FaceBook</a>
                            <a class="text-dark mb-2" href="https://www.instagram.com/yenluuit01/"><i class="fa fa-angle-right mr-2"></i>Instagram</a>
                            <a class="text-dark mb-2" href="https://www.linkedin.com/in/b%C3%B9i-th%E1%BB%8B-y%E1%BA%BFn-l%C6%B0u-027360210/"><i class="fa fa-angle-right mr-2"></i>Linkin</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">QR</h5>
                        <img width="230" height="230" src="~/img/QR.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    2023 &copy; <a class="text-dark font-weight-semi-bold" href="#">Developed by YenLuu</a>. All Rights Reserved. 
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!--================End Footer Area =================-->
    <!--================Search Box Area =================-->
    @*<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
            <div class="search_box_inner">
                <h3>Search</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
                    </span>
                </div>
            </div>
        </div>*@
    @Html.Action("Search", "AuraStore")
    <!--================End Search Box Area =================-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="~/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Extra plugin js -->
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/magnifc-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/vendors/datetime-picker/js/moment.min.js"></script>
    <script src="~/vendors/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>

    <script src="~/Scripts/theme.js"></script>
</body>

</html>